In [33]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [34]:
df = pd.read_csv(r"D:\udemy\Ml\data\Stock_prices\Datasets/BAJFINANCE.csv")
df.head()

,Date,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
0,2000-01-03,BAJAUTOFIN,EQ,46.95,49.45,50.75,46.5,50.75,50.75,50.05,7600,3.803800e+10,NaN,NaN,NaN
1,2000-01-04,BAJAUTOFIN,EQ,50.75,53.20,53.20,47.9,48.00,48.10,48.56,5000,2.428000e+10,NaN,NaN,NaN
2,2000-01-05,BAJAUTOFIN,EQ,48.10,46.55,47.40,44.6,44.60,44.60,45.47,3500,1.591450e+10,NaN,NaN,NaN
3,2000-01-06,BAJAUTOFIN,EQ,44.60,43.50,46.00,42.1,46.00,45.25,44.43,6200,2.754750e+10,NaN,NaN,NaN
4,2000-01-07,BAJAUTOFIN,EQ,45.25,48.00,48.00,42.0,42.90,42.90,44.44,3500,1.555550e+10,NaN,NaN,NaN

In [35]:
df.set_index('Date', inplace=True)

In [36]:
df['VWAP'].plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [37]:
df.shape

(5235, 14)

In [38]:
df.isna().sum()

Symbol                   0
Series                   0
Prev Close               0
Open                     0
High                     0
Low                      0
Last                     0
Close                    0
VWAP                     0
Volume                   0
Turnover                 0
Trades                2779
Deliverable Volume     446
%Deliverble            446
dtype: int64

In [39]:
df.dropna(inplace=True)

In [24]:
df.isna().sum()

Symbol                0
Series                0
Prev Close            0
Open                  0
High                  0
Low                   0
Last                  0
Close                 0
VWAP                  0
Volume                0
Turnover              0
Trades                0
Deliverable Volume    0
%Deliverble           0
dtype: int64

In [25]:
df.shape

(2456, 14)

In [26]:
data = df.copy()

In [27]:
data.dtypes

Symbol                 object
Series                 object
Prev Close            float64
Open                  float64
High                  float64
Low                   float64
Last                  float64
Close                 float64
VWAP                  float64
Volume                  int64
Turnover              float64
Trades                float64
Deliverable Volume    float64
%Deliverble           float64
dtype: object

In [28]:
data.columns

Index(['Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [29]:
lag_features = ["High", "Low", "Volume","Turnover", "Trades"]

In [30]:
window1 = 3
window2 = 7

In [31]:
for feature in lag_features:
    data[feature+" rolling_mean_3"] = data[feature].rolling(window=window1).mean()
    data[feature+" rolling_mean_7"] = data[feature].rolling(window=window2).mean()

In [32]:
for feature in lag_features:
    data[feature+" rolling_std_3"] = data[feature].rolling(window=window1).std()
    data[feature+" rolling_std_7"] = data[feature].rolling(window=window2).std()

In [33]:
data.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,...,High rolling_std_3,High rolling_std_7,Low rolling_std_3,Low rolling_std_7,Volume rolling_std_3,Volume rolling_std_7,Turnover rolling_std_3,Turnover rolling_std_7,Trades rolling_std_3,Trades rolling_std_7
Date,,,,,,,,,,,,,,,,,,,,,
2011-06-01,BAJFINANCE,EQ,616.70,617.00,636.50,616.00,627.00,631.85,627.01,6894,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-06-02,BAJFINANCE,EQ,631.85,625.00,638.90,620.00,634.00,633.45,636.04,2769,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-06-03,BAJFINANCE,EQ,633.45,625.15,637.80,620.00,623.00,625.00,625.09,51427,...,1.201388,NaN,2.309401,NaN,26980.871860,NaN,1.685217e+12,NaN,670.500559,NaN
2011-06-06,BAJFINANCE,EQ,625.00,620.00,641.00,611.35,611.35,614.00,616.03,5446,...,1.625833,NaN,4.994080,NaN,27352.695339,NaN,1.710136e+12,NaN,148.769396,NaN
2011-06-07,BAJFINANCE,EQ,614.00,604.00,623.95,604.00,619.90,619.15,617.73,5991,...,9.062422,NaN,8.008797,NaN,26391.221653,NaN,1.652377e+12,NaN,78.270897,NaN

In [34]:
data.isna().sum()

Symbol                     0
Series                     0
Prev Close                 0
Open                       0
High                       0
Low                        0
Last                       0
Close                      0
VWAP                       0
Volume                     0
Turnover                   0
Trades                     0
Deliverable Volume         0
%Deliverble                0
High rolling_mean_3        2
High rolling_mean_7        6
Low rolling_mean_3         2
Low rolling_mean_7         6
Volume rolling_mean_3      2
Volume rolling_mean_7      6
Turnover rolling_mean_3    2
Turnover rolling_mean_7    6
Trades rolling_mean_3      2
Trades rolling_mean_7      6
High rolling_std_3         2
High rolling_std_7         6
Low rolling_std_3          2
Low rolling_std_7          6
Volume rolling_std_3       2
Volume rolling_std_7       6
Turnover rolling_std_3     2
Turnover rolling_std_7     6
Trades rolling_std_3       2
Trades rolling_std_7       6
dtype: int64

In [35]:
data.dropna(inplace =True)

In [36]:
data.columns

Index(['Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble', 'High rolling_mean_3', 'High rolling_mean_7',
       'Low rolling_mean_3', 'Low rolling_mean_7', 'Volume rolling_mean_3',
       'Volume rolling_mean_7', 'Turnover rolling_mean_3',
       'Turnover rolling_mean_7', 'Trades rolling_mean_3',
       'Trades rolling_mean_7', 'High rolling_std_3', 'High rolling_std_7',
       'Low rolling_std_3', 'Low rolling_std_7', 'Volume rolling_std_3',
       'Volume rolling_std_7', 'Turnover rolling_std_3',
       'Turnover rolling_std_7', 'Trades rolling_std_3',
       'Trades rolling_std_7'],
      dtype='object')

In [37]:
ind_features = ['Highrolling_mean_3', 'Highrolling_mean_7',
       'Lowrolling_mean_3', 'Lowrolling_mean_7', 'Volumerolling_mean_3',
       'Volumerolling_mean_7', 'Turnoverrolling_mean_3',
       'Turnoverrolling_mean_7', 'Tradesrolling_mean_3',
       'Tradesrolling_mean_7', 'Highrolling_std_3', 'Highrolling_std_7',
       'Lowrolling_std_3', 'Lowrolling_std_7', 'Volumerolling_std_3',
       'Volumerolling_std_7', 'Turnoverrolling_std_3', 'Turnoverrolling_std_7',
       'Tradesrolling_std_3', 'Tradesrolling_std_7', 'High rolling_mean_3',
       'High rolling_mean_7', 'Low rolling_mean_3', 'Low rolling_mean_7',
       'Volume rolling_mean_3', 'Volume rolling_mean_7',
       'Turnover rolling_mean_3', 'Turnover rolling_mean_7',
       'Trades rolling_mean_3', 'Trades rolling_mean_7', 'High rolling_std_3',
       'High rolling_std_7', 'Low rolling_std_3', 'Low rolling_std_7',
       'Volume rolling_std_3', 'Volume rolling_std_7',
       'Turnover rolling_std_3', 'Turnover rolling_std_7',
       'Trades rolling_std_3', 'Trades rolling_std_7']

In [38]:
training_data = data[0:1800]
test_data = data[1800:]

In [40]:
!pip install pmdarima

Requirement already satisfied: pmdarima in c:\users\iamma\anaconda3\lib\site-packages (2.0.4)
Requirement already satisfied: joblib>=0.11 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (1.5.0)
Requirement already satisfied: Cython!=0.29.18,!=0.29.31,>=0.29 in c:\users\iamma\anaconda3\lib\site-packages (from pmdarima) (3.1.2)
Requirement already satisfied: numpy>=1.21.2 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (2.2.6)
Requirement already satisfied: pandas>=0.19 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (2.2.3)
Requirement already satisfied: scikit-learn>=0.22 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (1.6.1)
Requirement already satisfied: scipy>=1.3.2 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (1.15.3)
Requirement already satisfied: statsmodels>=0.13.2 in c:\users\iamma\anaconda3\lib\site-packages (from pmdarima) (0.14.4)
Requirement already satisfied: urllib3 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (2.4.0)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (68.2.2)
Requirement already satisfied: packaging>=17.1 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pmdarima) (25.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pandas>=0.19->pmdarima) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pandas>=0.19->pmdarima) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from pandas>=0.19->pmdarima) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=0.19->pmdarima) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\iamma\appdata\roaming\python\python311\site-packages (from scikit-learn>=0.22->pmdarima) (3.6.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\iamma\anaconda3\lib\site-packages (from statsmodels>=0.13.2->pmdarima) (1.0.1)

In [41]:
from pmdarima import auto_arima

ValueError: numpy.dtype size changed, may indicate binary incompatibility. Expected 96 from C header, got 88 from PyObject

In [42]:
auto_arima()

NameError: name 'auto_arima' is not defined

In [ ]:
model = auto_arima(y=training_data['VWAP'], exogenous= training_data[ind_features], trace=True)